<div class="grid grid-cols-[repeat(auto-fit,_minmax(350px,_1fr))] m-px rounded-xl border border-gray-200 overflow-clip gap-px
bg-gray-200">

    @for(card of cards; track $index) {
        <div class="bg-white flex flex-col sm:items-start items-center sm:gap-6 sm:p-8 gap-4 p-6
        sm:text-start text-center">
            <div class="p-4 shadow-md rounded-lg">
                <i [class]="'fi flex text-green-400 text-xl ' + card.icon"></i>
            </div>
            <div>
                <h4 class="font-medium text-xl leading-8">{{card.title}}</h4>
                <p class="text-gray-600">{{card.description}}</p>
            </div>
        </div>
    }

</div>