<div class="grid md:grid-cols-[repeat(auto-fit,_minmax(300px,_1fr))]
grid-cols-[repeat(auto-fit,_minmax(250px,_1fr))] m-px rounded-3xl border border-stone-200 overflow-clip gap-px
bg-stone-200" InterObs obsClass="fade-in" [intersectChild]="true">

    @for(card of cards; track $index) {
        <div class="bg-white flex flex-col items-start sm:gap-6 sm:p-8 gap-4 p-6 delay-{{$index+1}}">
            <div class="sm:p-4 p-3 shadow-md rounded-xl">
                <i [class]="'fi flex text-primary sm:text-xl text-lg ' + card.icon" aria-hidden="true"></i>
            </div>
            <div>
                <h2 class="font-medium text-xl leading-8">{{card.title}}</h2>
                <p class="text-stone-600">{{card.description}}</p>
            </div>
        </div>
    }

</div>