<div class="img-container relative max-h-screen rounded-b-[0em] overflow-hidden">
    <img src="./images/windows3.jpg" alt="Janela de prédio com vista para a cidade"
    class="absolute building h-full w-full object-cover brightness-[85%] hue-rotate-[-12deg] grayscale-[40%]" (load)="preloadVideos()">

    <main id="home" class="c-container z-10 h-full grid grid-cols-1 lg:grid-cols-2 gap-6">
        <header class="relative text-white self-center flex flex-col items-center text-center -mt-28 md:mt-0 md:text-start md:items-start fade-in">
            <h1 class="text-[3.5rem] xs:text-[4.2rem] font-medium leading-tight max-w-2xl">A proteção que seu ambiente precisa!</h1>
            <a class="bg-stone-50 text-stone-950 py-2 px-6 rounded-full text-lg font-semibold mt-4
            hover:opacity-90 active:opacity-85 transition-opacity"
            href="https://wa.me/+5579996121414?text=Ol%C3%A1,%20desejo%20solicitar%20um%20or%C3%A7amento!" target="_blank">Fazer orçamento</a>
        </header>
        <div class="main-card-info bg-white self-end absolute translate-x-1/2 right-1/2 md:translate-x-0 md:right-0 
        w-[calc(100%-40px)] sm:w-[calc(100%-80px)] md:max-w-[50%] xl:p-8 p-6 pb-0 md:rounded-tr-none rounded-tr-3xl 
        rounded-tl-3xl flex items-start gap-6">
            <div class="flex-1 fade-in delay-1">
                <h2 class="font-medium xl:text-5xl text-3xl mb-2 text-nowrap">7 anos</h2>
                <p class="text-stone-600 xl:text-base text-sm">de excelência em aplicação de películas em residências e comércios</p>
            </div>
            <div class="flex-1 fade-in delay-2">
                <h2 class="font-medium xl:text-5xl text-3xl mb-2 text-nowrap">1.500+</h2>
                <p class="text-stone-600 xl:text-base text-sm">janelas transformadas com películas de alta performance</p>
            </div>
            <div class="flex-1 fade-in delay-3">
                <h2 class="font-medium xl:text-5xl text-3xl mb-2 text-nowrap">20+ tipos</h2>
                <p class="text-stone-600 xl:text-base text-sm">de películas para garantir proteção solar, privacidade, segurança e estética.</p>
            </div>
        </div>
    </main>
</div>

<section class="c-container py-32 flex gap-12 items-center text-stone-600">
    <h3 class="text-4xl flex-1" InterObs obsClass="fade-in"><span class="text-stone-900 font-medium">
        Priorizamos qualidade,</span> garantindo a confiança dos nossos clientes em cada serviço.
    </h3>
    <p class="flex-1 delay-1" InterObs obsClass="fade-in" rootMargin="-140px">Oferecemos películas residenciais e comerciais que garantem proteção solar, aumentam a privacidade e 
        reduzem o consumo de energia. Nossas soluções melhoram o conforto térmico e protegem seu espaço
         dos danos UV. A escolha ideal para quem busca mais qualidade de vida e economia.
    </p>
</section>

<section id="beneficios" class="bg-stone-100 overflow-hidden">
    <div class="c-container py-32">
        <h1 class="font-normal text-4xl max-w-2xl text-center mx-auto text-stone-600 mb-16" InterObs obsClass="fade-in">
            <span class="text-stone-900">Oferecemos modernidade,</span> com produtos e serviços de excelência</h1>
        <app-cards-section/>
    </div>
</section>

<section id="servicos" class="overflow-hidden">
    <div class="c-container py-32">
        <h1 class="font-normal text-4xl max-w-2xl text-center mx-auto text-stone-600 mb-16" InterObs obsClass="fade-in">
            Explore nossos projetos e veja como unimos <span class="text-stone-900">funcionalidade e design em cada aplicação</span>
        </h1>
        <app-video-card/>
    </div>
</section>

<footer id="footer" class="bg-black text-white pt-32 overflow-hidden">
    <div class="c-container">
        <app-footer />
    </div>
</footer>