<div class="img-container relative max-h-screen rounded-b-3xl overflow-hidden pt-28">
    <img src="/images/windows.jpg" alt="Janela de prédio com vista para a cidade"
    class="absolute building max-h-full w-full object-cover">

    <main class="c-container z-10 h-full grid grid-cols-2 gap-6">
        <header class="relative text-white self-center">
            <p class="text-xl">#1 Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
            <h1 class="title font-medium">A proteção que seu ambiente precisa!</h1>
        </header>
        <div class="main-card-info bg-white self-end absolute right-0 max-w-[50%] p-6 rounded-tl-3xl flex items-center gap-6">
            <div class="">
                <h2 class="font-medium text-6xl mb-2">300</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing..</p>
            </div>
            <div class="">
                <h2 class="font-medium text-6xl mb-2">300</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing..</p>
            </div>
            <div class="">
                <h2 class="font-medium text-6xl mb-2">300</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing..</p>
            </div>
        </div>
    </main>
</div>

<div class="main h-96">
    <h1 class="">Ola</h1>
</div>