<div class="h-[calc(100vh-20px)] sm:h-[45rem] relative max-h-screen rounded-b-[0em] max-w-full overflow-hidden">
    <img src="./images/windows3.webp" alt="Janela de prédio com vista para a cidade"
    class="absolute building h-full w-full object-cover brightness-[65%] hue-rotate-[-12deg] grayscale-[40%]
    border-white sm:border-b-0 border-b-1" 
    (load)="handlePreloadFiles()">

    <main id="home" class="c-container h-full grid grid-cols-1 lg:grid-cols-2 gap-6">
        <header class="relative text-white self-center flex flex-col items-center text-center -mt-28 md:mt-0 md:text-start md:items-start fade-in">
            <div class="py-1 px-3 bg-black/40 mb-3 flex items-center gap-2 text-sm font-semibold rounded-lg">
                <i class="fi fi-ss-house-building flex"></i>
                Apenas Residencial e Comercial!
            </div>
            <h1 class="text-4xl xs:text-5xl sm:text-[4.1rem] font-semibold leading-tight max-w-2xl mb-4">A proteção que seu ambiente precisa!</h1>
            <p class="w-[calc(100%-40px)] sm:w-auto text-lg mb-4">Sofrendo com calor excessivo? <span class="font-semibold">Temos a solução ideal para você.</span></p>
            <p class="w-[calc(100%-40px)] sm:w-auto text-sm mb-4 min-[340px]:block hidden">Blackout • Espelhada • Segurança • Película Fumê de Controle Solar • Térmica</p>
            <a class="flex items-center gap-2 bg-stone-50 text-stone-950 py-2 px-6 rounded-full text-lg font-semibold mt-4 relative
            hover:opacity-90 active:opacity-85 transition-opacity"
            href="https://wa.me/+5579996121414?text=Ol%C3%A1,%20desejo%20solicitar%20um%20or%C3%A7amento!" target="_blank">
                <i class="fi fi-brands-whatsapp flex text-green-500"></i>
                Fazer orçamento
            </a>
        </header>
        <div class="main-card-info bg-white -bottom-[1px] absolute translate-x-1/2 right-1/2 md:translate-x-0 md:right-0 
        w-[calc(100%-60px)] sm:w-[calc(100%-80px)] md:max-w-[60%] lg:max-w-[50%] xl:p-8 p-6 py-4 sm:py-6 pb-0 md:rounded-tr-none sm:rounded-t-3xl 
        rounded-t-[2rem] flex sm:flex-row flex-col sm:items-start items-center sm:gap-6 gap-2 h-[130px] xs:h-[144px] sm:h-[auto] sm:max-h-none">
            <div class="flex-1 fade-in delay-1 sm:block hidden">
                <h2 class="font-medium 2xl:text-5xl xl:text-4xl xs:text-3xl text-2xl mb-2">7 anos</h2>
                <p class="text-stone-600 xl:text-base text-sm">de excelência em aplicação de películas em residências e comércios.</p>
            </div>
            <div class="flex-1 fade-in delay-2 sm:block hidden">
                <h2 class="font-medium 2xl:text-5xl xl:text-4xl xs:text-3xl text-2xl mb-2">1.500+</h2>
                <p class="text-stone-600 xl:text-base text-sm">janelas transformadas com películas de alta performance.</p>
            </div>
            <div class="flex-1 fade-in delay-3 sm:block hidden">
                <h2 class="font-medium 2xl:text-5xl xl:text-4xl xs:text-3xl text-2xl mb-2">10+ tipos</h2>
                <p class="text-stone-600 xl:text-base text-sm">de películas para garantir proteção solar, privacidade, segurança e estética.</p>
            </div>
            
            <!-- 640px less -->
            @let selectedText = headerTexts[selectedHeaderTextIndex()];
            <div class="flex-1 fade-in delay-1 text-center sm:hidden" [@fadeTrigger]="selectedHeaderTextIndex()">
                <h2 class="xs:text-5xl text-4xl xs:font-normal font-medium mb-2">{{ selectedText.largeText }}</h2>
                <p class="text-stone-600">{{ selectedText.smallText }}</p>
            </div>
            <!-- items-bar -->
            <div class="flex items-center justify-center sm:hidden">
                @for (item of headerTexts; track $index) {
                    @let isActive = $index === selectedHeaderTextIndex();
                    <button class="opacity-30 hover:opacity-50 transition-opacity p-2"
                    (click)="setHeaderText($index)">
                    <div class="h-2.5 bg-stone-600 rounded-full transition-all duration-500"
                    [ngClass]="isActive ? 'w-10' : 'w-2.5'"></div>
                    </button>
                }
            </div>
            <!-- 640px less -->

        </div>
    </main>
</div>

<section class="sm:flex hidden c-container py-32 sm:flex-row flex-col sm:gap-12 gap-4 items-center text-stone-600">
    <h1 class="text-4xl flex-1 sm:text-start text-center" InterObs obsClass="fade-in"><span class="text-stone-900 font-medium">
        Priorizamos qualidade,</span> garantindo a confiança dos nossos clientes em cada serviço.
    </h1>
    <p class="flex-1 delay-1" InterObs obsClass="fade-in" rootMargin="-140px">Oferecemos películas residenciais e comerciais que garantem proteção solar, aumentam a privacidade e 
        reduzem o consumo de energia. Nossas soluções melhoram o conforto térmico e protegem seu espaço
         dos danos UV. A escolha ideal para quem busca mais qualidade de vida e economia.
    </p>
</section>

<section id="films-preview" class="overflow-hidden">
    <div class="c-container py-32">
        <div class="flex flex-col items-center gap-4 max-w-3xl text-center mx-auto mb-8">
            <h1 class="text-4xl text-stone-600" InterObs obsClass="fade-in">
                <span class="text-stone-900 font-medium">Simule nossas películas</span> e veja, na prática.
            </h1>
            <p class="text-stone-600 max-w-xl delay-1" InterObs obsClass="fade-in" rootMargin="-140px"
            >Utilize o simulador de películas para visualizar as opções disponíveis, podendo comparar o resultado antes de escolher.</p>
        </div>
        <app-films-preview InterObs obsClass="fade-in"/>
    </div>
</section>

<section id="films-info" class="overflow-hidden">
    <div class="c-container pb-32 flex flex-col items-center">
        <h1 class="font-normal text-4xl max-w-2xl text-center text-stone-600 mb-8" InterObs obsClass="fade-in">
        <span class="text-stone-900">Descubra detalhes</span> dos nossos produtos.</h1>
        <div class="flex flex-col gap-4 items-center max-w-full" InterObs obsClass="fade-in">
            <!-- <app-film-details class="max-w-full" [films]="filmDetails" /> -->
             <article app-films-info></article>
            <a class="inline-flex items-center gap-2 border border-stone-200 text-stone-950 py-2 px-6 rounded-2xl shadow-sm text-lg font-medium
            hover:scale-105 active:scale-100 transition-transform"
            href="https://wa.me/+5579996121414?text=Ol%C3%A1,%20gostaria%20de%20tirar%20algumas%20d%C3%BAvidas." target="_blank">
                <i class="fi fi-brands-whatsapp flex text-green-500"></i>
                Tirar Dúvidas
            </a>
        </div>
    </div>
</section>

<section id="beneficios" class="bg-stone-100 overflow-hidden">
    <div class="c-container py-32">
        <h1 class="font-normal text-4xl max-w-2xl text-center mx-auto text-stone-600 mb-16" InterObs obsClass="fade-in">
        <span class="text-stone-900">Oferecemos modernidade,</span> com produtos e serviços de excelência.</h1>
        <app-cards-section/>
    </div>
</section>
<section id="servicos" class="overflow-hidden">
    <div class="c-container py-32">
        <h1 class="font-normal text-4xl max-w-2xl text-center mx-auto text-stone-600 mb-16" InterObs obsClass="fade-in">
            Explore nossos projetos e veja como unimos <span class="text-stone-900">funcionalidade e design em cada aplicação.</span>
        </h1>
        @defer(on viewport; prefetch when videosHasLoaded === true){
            <app-video-card/>
        } @placeholder (minimum 1s) {
            <div class="h-80 rounded-xl bg-stone-200 animate-pulse"></div>
        }
        </div>
    </section>

<footer id="footer" class="bg-black text-white pt-32 overflow-hidden">
    <div class="c-container">
        <app-footer />
    </div>
</footer>